body {
  display: flex;
  justify-content: center;
  background-color:#1E1E1E;
  color:white;
}

.lista{
  display: flex;
  flex-wrap: wrap;
}

.anime{
  margin-left:10px;
  margin-top:40px;
  flex: 1 0 17% 
}


.image{
  width: 200px;
  height: 300px;
  border-radius: 5px;
}

.formulario {
  color:black;
}

.titulo{
 margin-left:45%;

}
